:root {
  --color-blue: #3feee6;
  --color-black: #050517;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

p {
  margin-top: 0;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.container {
  margin: 40px auto;
  max-width: 1200px;
}

[contenteditable="true"] {
  border-radius: 2px;
  background-color: #cacaca71;
  padding: 2px;
}

.custom-input {
  padding: 6px 12px;
  background-color: #fff;
}

select,
.custom-input {
  border: 1px solid #ced4da;
  color: #495057;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
}

input:focus,
select:focus,
[contenteditable="true"]:focus {
  outline-color: #82c0cc;
  border-color: #82c0cc;
}

/* hide browser rendered input button. We will render our own button */
.btn input[type="file"] {
  display: none;
}
